<div class="grid grid-cols-2 gap-4">
  <div>
    <h1 class="flex mt-8">
      <span class="ml-4 text-4xl font-bold text-blue-500">
        {{ details.no }}</span
      >
      <span class="ml-6 font-light">
        <p class="text-sm">Pengemudi</p>
        <p class="font-bold">
          {{ details.nama_pengemudi }} ({{ details.no_polisi_kendaraan }})
        </p>
      </span>
    </h1>
    <div class="mt-1 font-light"></div>
  </div>
  <div class="flex justify-end space-x-2">
    <button
      type="button"
      (click)="selesai()"
      class="flex h-10 px-4 py-2 mt-10 font-light text-black bg-green-500 rounded  hover:bg-green-400"
    >
      <span class="text-base font-medium text-white">Selesai</span>
    </button>

    <button
      type="button"
      (click)="reject()"
      class="flex h-10 px-4 py-2 mt-10 font-light text-black bg-yellow-200 rounded  hover:bg-yellow-400"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        id="_x31_px"
        enable-background="new 0 0 24 24"
        height="24"
        viewBox="0 0 24 24"
        width="24"
      >
        <path
          d="m22.5 20h-.538c-.827 0-1.5-.673-1.5-1.5v-5c0-.827.673-1.5 1.5-1.5h.538c.827 0 1.5.673 1.5 1.5v5c0 .827-.673 1.5-1.5 1.5zm-.538-7c-.275 0-.5.225-.5.5v5c0 .275.225.5.5.5h.538c.275 0 .5-.225.5-.5v-5c0-.275-.225-.5-.5-.5z"
        />
        <path
          d="m18 24c-.816 0-1.695-.755-1.695-2.413 0-.572.1-1.051.215-1.413h-2.106c-.711 0-1.382-.311-1.841-.854-.459-.542-.656-1.255-.539-1.956l.558-3.348c.194-1.168 1.195-2.016 2.38-2.016h.876c3.717 0 5.354 1.248 5.423 1.302.217.17.255.484.085.702-.172.218-.485.255-.702.085-.011-.009-1.472-1.089-4.806-1.089h-.876c-.693 0-1.28.497-1.395 1.181l-.558 3.348c-.068.411.047.828.315 1.146.27.318.662.5 1.078.5h2.869c.185 0 .354.102.44.264.087.163.078.359-.024.514-.002.003-.394.623-.394 1.636.002 1.027.428 1.411.697 1.411.08 0 .104-.011.105-.011.002-.006.112-.149.112-.924 0-1.951 2.406-3.257 2.509-3.312.246-.13.546-.038.676.206.13.243.038.546-.205.676-.55.296-1.979 1.309-1.979 2.43 0 .676 0 1.935-1.218 1.935z"
        />
        <path
          d="m10 8c-.059 0-.117-.011-.173-.031l-9.5-3.5c-.196-.073-.327-.259-.327-.469s.131-.396.327-.469l9.5-3.5c.111-.041.234-.041.346 0l9.5 3.5c.196.073.327.259.327.469s-.131.396-.327.469l-9.5 3.5c-.056.02-.114.031-.173.031zm-8.054-4 8.054 2.967 8.054-2.967-8.054-2.967z"
        />
        <path
          d="m9.79 19.92c-.058 0-.116-.01-.173-.031l-9.29-3.42c-.196-.073-.327-.259-.327-.469v-12c0-.276.224-.5.5-.5s.5.224.5.5v11.651l8.963 3.3c.259.095.392.383.296.642-.074.202-.266.327-.469.327z"
        />
        <path
          d="m19.5 10c-.276 0-.5-.224-.5-.5v-5.5c0-.276.224-.5.5-.5s.5.224.5.5v5.5c0 .276-.224.5-.5.5z"
        />
        <path
          d="m10 15c-.276 0-.5-.224-.5-.5v-7c0-.276.224-.5.5-.5s.5.224.5.5v7c0 .276-.224.5-.5.5z"
        />
      </svg>
      <span class="ml-2 text-base font-medium">Reject Cargo</span>
    </button>
  </div>
</div>
<div class="grid grid-cols-5 gap-4 p-6 mt-8">
  <div class="col-span-2"></div>
  <div class="flex justify-between col-span-3 -mt-8">
    <div class="flex">
      <span> Daftar barang | Total </span>
      <span class="ml-2 font-bold text-blue-500"> {{ data.length }} Koli </span>
    </div>
  </div>
</div>
<div class="grid grid-cols-5 gap-4 -mt-6">
  <form class="col-span-2" [formGroup]="form" (ngSubmit)="save()">
    <div class="p-8 bg-white rounded shadow-lg">
      <div class="w-full p-4 bg-blue-200 rounded">
        <h1 class="font-medium">{{ detail!!.smu }}</h1>
        <p class="font-light">{{ detail!!.koli }}</p>
      </div>
      <div class="mt-8">
        <p class="text-base font-light">Berat</p>
        <h1 class="font-bold text-blue-500">
          <input
            formControlName="berat"
            type="number"
            name=""
            class="w-48 text-6xl border-0 ring-0 hover:border-0 focus:ring-0"
            placeholder="0"
            id=""
          />
          <span class="text-2xl">kg</span>
        </h1>
      </div>
      <div class="flex mt-12">
        <label class="flex items-center">
          <input (click)="change()" type="checkbox" class="form-checkbox" />
          <span class="ml-2 font-medium">Reject Cargo</span>
        </label>
      </div>
      <div class="flex justify-start mt-16">
        <button
          type="submit"
          [disabled]="this.detail.checker !== '0'"
          [class]="
            this.detail.checker !== '0'
              ? 'px-4 py-2 font-bold text-gray-500 bg-gray-300  rounded  cursor-not-allowed'
              : 'px-4 py-2 font-bold text-white bg-blue-500 rounded  hover:bg-blue-700'
          "
        >
          Simpan
        </button>
      </div>
    </div>
  </form>
  <!-- ... -->
  <div class="col-span-3 p-8 bg-white rounded shadow-lg">
    <div class="">
      <div
        *ngIf="project.selesai === 0"
        class="flex items-center w-full px-4 py-2 my-2 text-sm bg-yellow-200 rounded-sm "
      >
        <svg
          viewBox="0 0 24 24"
          class="w-4 h-4 mr-3 text-yellow-600 sm:w-4 sm:h-4"
        >
          <path
            fill="currentColor"
            d="M23.119,20,13.772,2.15h0a2,2,0,0,0-3.543,0L.881,20a2,2,0,0,0,1.772,2.928H21.347A2,2,0,0,0,23.119,20ZM11,8.423a1,1,0,0,1,2,0v6a1,1,0,1,1-2,0Zm1.05,11.51h-.028a1.528,1.528,0,0,1-1.522-1.47,1.476,1.476,0,0,1,1.448-1.53h.028A1.527,1.527,0,0,1,13.5,18.4,1.475,1.475,0,0,1,12.05,19.933Z"
          ></path>
        </svg>
        <span class="text-yellow-800"> {{ message }}. </span>
      </div>
      <div
        *ngIf="project.selesai === 1"
        class="flex items-center w-full px-4 py-2 my-2 text-sm bg-green-200 rounded-sm "
      >
        <svg
          viewBox="0 0 24 24"
          class="w-4 h-4 mr-3 text-green-600 sm:w-4 sm:h-4"
        >
          <path
            fill="currentColor"
            d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z"
          ></path>
        </svg>
        <span class="text-green-800"> {{ message }}. </span>
      </div>
    </div>
    <table class="w-full leading-normal">
      <thead class="w-full">
        <tr class="flex w-full">
          <th
            class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200 "
          >
            No
          </th>
          <th
            class="flex-1 px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200 "
          >
            Status
          </th>
          <th
            class="flex-1 px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200 "
          >
            SMU
          </th>
          <th
            class="flex-1 px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200 "
          >
            Koli
          </th>
          <th
            class="flex-1 px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200 "
          >
            Berat barang
          </th>
        </tr>
      </thead>
      <tbody
        class="flex flex-col w-full overflow-y-scroll"
        style="height: 60vh"
      >
        <tr *ngFor="let data of data; index as i" class="flex bg-emerald-200">
          <td
            [class]="
              i === 0 && data.checker == 0
                ? 'active'
                : data.checker == 2
                ? 'active1'
                : data.checker == 1
                ? 'active2'
                : 'not_active'
            "
          >
            <p class="text-gray-900 whitespace-no-wrap">{{ i + 1 }}</p>
          </td>
          <td
            class="flex-1"
            [class]="
              i === 0 && data.checker == 0
                ? 'active'
                : data.checker == 2
                ? 'active1'
                : data.checker == 1
                ? 'active2'
                : 'not_active'
            "
          >
            <p
              class="
                text-gray-900
                border
                p-0.5
                border-blue-500
                text-center
                rounded
                whitespace-no-wrap
              "
            >
              {{
                data?.status === "ADMIN OPERASIONAL" ? "Waiting" : data.status
              }}
            </p>
          </td>
          <td
            class="flex-1"
            [class]="
              i === 0 && data.checker == 0
                ? 'active'
                : data.checker == 2
                ? 'active1'
                : data.checker == 1
                ? 'active2'
                : 'not_active'
            "
          >
            <p class="text-gray-900 whitespace-no-wrap">
              {{ data?.smu }}
            </p>
          </td>
          <td
            class="flex-1"
            [class]="
              i === 0 && data.checker == 0
                ? 'active'
                : data.checker == 2
                ? 'active1'
                : data.checker == 1
                ? 'active2'
                : 'not_active'
            "
          >
            <p class="text-gray-900 whitespace-no-wrap">
              {{ data?.koli }}
            </p>
          </td>
          <td
            class="flex-1"
            [class]="
              i === 0 && data.checker == 0
                ? 'active'
                : data.checker == 2
                ? 'active1'
                : data.checker == 1
                ? 'active2'
                : 'not_active'
            "
          >
            <p class="text-gray-900 whitespace-no-wrap">
              {{ data?.berat_total }} Kg
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div
  [class]="isList ? 'showss' : 'hiddenss'"
  style="background: rgba(0, 0, 0, 0.3)"
>
  <div class="flex flex-col items-center px-5 py-2 bg-white border rounded-lg">
    <div class="relative block w-20 h-5 mt-2 loader-dots">
      <div class="absolute top-0 w-3 h-3 mt-1 bg-blue-500 rounded-full"></div>
      <div class="absolute top-0 w-3 h-3 mt-1 bg-blue-500 rounded-full"></div>
      <div class="absolute top-0 w-3 h-3 mt-1 bg-blue-500 rounded-full"></div>
      <div class="absolute top-0 w-3 h-3 mt-1 bg-blue-500 rounded-full"></div>
    </div>
    <div class="mt-2 text-xs font-light text-center text-gray-500">
      Silahkan tunggu...
    </div>
  </div>
</div>
