<form [formGroup]="form" (submit)="download()">
  <div
    [class]="
      print ? 'hidden min-w-full min-h-full p-4' : 'min-w-full min-h-full p-4'
    "
  >
    <div class="flex justify-end gap-2">
      <button
        [routerLink]="['/dokumen/csd']"
        routerLinkActive="router-link-active"
        class="flex items-center gap-2 px-8 py-2 font-semibold text-white bg-red-500 rounded-md "
      >
        Kembali
      </button>
      <button
        type="submit"
        class="flex items-center justify-center px-4 py-2 text-sm font-normal text-white bg-blue-500 rounded  min-h-10 hover:bg-blue-700"
      >
        <div
          [hidden]="!isLoading"
          class="w-3 h-3 mr-2 border-t-2 border-b-2 border-white rounded-full  animate-spin"
        ></div>

        Cetak Document
      </button>
    </div>
    <div class="p-4 mt-8 mb-8 ml-4 -mr-4 bg-white rounded-lg">
      <div class="grid grid-cols-2 gap-16">
        <div class="grid grid-cols-3 col-span-1 gap-2 ml-4">
          <div class="col-span-1 text-left">
            <div class="font-medium text-gray-400 text-md">Qty</div>
            <div class="text-xl font-semibold text-blue-500">
              {{ detail.qty }}
            </div>
          </div>
          <div class="col-span-1 text-center">
            <div class="font-medium text-gray-400 text-md">Total Berat</div>
            <div class="text-xl font-semibold text-blue-500">
              {{ detail.berat_total }} KG
            </div>
          </div>
          <div class="col-span-1 text-right">
            <div class="font-medium text-gray-400 text-md">Diterima dari</div>
            <div class="text-xl font-semibold text-blue-500">
              {{ detail.asal_tps }}
            </div>
          </div>
        </div>
        <div class="flex w-full col-span-1">
          <div class="flex-grow">
            <label for="price" class="block text-sm font-medium text-gray-700"
              >No SMU</label
            >
            <div class="flex flex-wrap my-2">
              <span
                *ngFor="let item of smu"
                class="px-4 py-1 mx-1 my-1 text-sm bg-blue-300 rounded-md"
                >{{ item.no_smu }}</span
              >
            </div>
          </div>
          <div class="items-end flex-nowrap">
            <svg
              (click)="toggleShow()"
              class="cursor-pointer"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <rect width="24" height="24" rx="4" fill="#E0EDFF" />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.57717 18.0546L6.40498 18.5078C5.8046 18.5936 5.4028 18.1814 5.48728 17.5901L5.94045 14.4179C6.02471 13.8281 6.43114 13.6966 6.84956 14.1151L7.60717 14.8727L9.64106 12.8388C10.0624 12.4175 10.7377 12.4205 11.1561 12.8389C11.5775 13.2603 11.5746 13.9357 11.1563 14.354L9.1224 16.3879L9.88001 17.1455C10.3013 17.5669 10.1628 17.971 9.57717 18.0546ZM14.4229 5.94493L17.5951 5.49176C18.1955 5.40599 18.5973 5.81816 18.5128 6.40946L18.0596 9.58166C17.9754 10.1715 17.5689 10.3029 17.1505 9.8845L16.3929 9.12688L14.3493 11.1705C13.928 11.5918 13.2526 11.5888 12.8342 11.1703C12.4129 10.749 12.4157 10.0736 12.8341 9.65526L14.8777 7.61165L14.12 6.85404C13.6987 6.4327 13.8372 6.0286 14.4229 5.94493Z"
                fill="#2D7FF9"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="grid w-full grid-cols-4 gap-4 mt-4 ml-4">
        <div class="col-span-1">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Nama Agen</label
          >
        </div>
        <div class="col-span-1">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >No SMU</label
          >
        </div>
        <div class="col-span-1">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Warehouse</label
          >
        </div>

        <div class="col-span-1">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Tanggal Penerbangan</label
          >
        </div>
      </div>
      <div formArrayName="tanggals">
        <div *ngFor="let itemGroup of tanggals.controls; let i = index">
          <div class="grid w-full grid-cols-4 gap-4 ml-4" [formGroupName]="i">
            <div class="col-span-1">
              <div class="relative mt-1 rounded-md shadow-sm">
                <div
                  class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
                ></div>
                <input
                  type="text"
                  [value]="
                    warehouses[i].warehouse === 'PERSERO BATAM' ||
                    warehouses[i].warehouse === 'DBM'
                      ? warehouses[i].nama_agen
                      : warehouses[i].nama_agen +
                        ' ( ' +
                        warehouses[i].smu +
                        ' )'
                  "
                  id="price"
                  [readonly]="true"
                  class="block w-full border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  placeholder="Isi Kiriman"
                />
              </div>
            </div>
            <div class="col-span-1">
              <div class="relative mt-1 rounded-md shadow-sm">
                <div
                  class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
                ></div>
                <input
                  type="text"
                  [value]="
                    warehouses[i].maskapai + ' (' + warehouses[i].smu + ')'
                  "
                  id="price"
                  [readonly]="true"
                  class="block w-full border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  placeholder="Isi Kiriman"
                />
              </div>
            </div>
            <div class="col-span-1">
              <div class="relative mt-1 rounded-md shadow-sm">
                <div
                  class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
                ></div>
                <input
                  *ngIf="
                    warehouses[i].warehouse === 'PERSERO BATAM' ||
                    warehouses[i].warehouse === 'DBM'
                  "
                  type="text"
                  id="price"
                  [readonly]="true"
                  [value]="warehouses[i].warehouse"
                  class="block w-full bg-gray-200 border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  placeholder="Isi Kiriman"
                />
              </div>
            </div>
            <div class="col-span-1">
              <input
                formControlName="tanggal_penerbangan"
                type="date"
                name="price"
                id="price"
                class="block w-full border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                placeholder="No."
              />
              <input
                formControlName="smu"
                type="hidden"
                name="price"
                id="price"
                [(ngModel)]="warehouses[i].smu"
                class="block w-full border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                placeholder="No."
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid w-full grid-cols-2 gap-16">
      <div class="col-span-1">
        <div class="w-full mt-4 ml-4">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Nomor Polisi Kendaraan</label
          >
          <div class="relative mt-1 rounded-md shadow-sm">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
            ></div>
            <input
              formControlName="nomor_polisi_kendaraan"
              type="text"
              name="price"
              [(ngModel)]="detail.nomor_polisi_kendaraan"
              id="price"
              class="block w-full border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              placeholder="Nomor Polisi Kendaraan"
            />
          </div>
        </div>
        <div class="w-full mt-4 ml-4">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Nama Pengemudi</label
          >
          <div class="relative mt-1 rounded-md shadow-sm">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
            ></div>
            <input
              formControlName="nama_pengemudi"
              type="text"
              name="price"
              [(ngModel)]="detail.nama_pengemudi"
              id="price"
              class="block w-full border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              placeholder="Nama Pengemudi"
            />
          </div>
        </div>
        <div class="w-full mt-4 ml-4">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Nomor Segel Keamanan Kendaraan</label
          >
          <div class="relative mt-1 rounded-md shadow-sm">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
            ></div>
            <input
              formControlName="no_segel_keamanan_kendaraan"
              [(ngModel)]="detail.no_segel_keamanan_kendaraan"
              type="text"
              name="price"
              id="price"
              class="block w-full border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              placeholder="Nomor"
            />
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4">
          <div class="w-full col-span-2 ml-4">
            <label for="price" class="block text-sm font-medium text-gray-700"
              >Nomor Kunci Plastik Solid</label
            >
            <div class="relative mt-1 rounded-md shadow-sm">
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
              ></div>
              <input
                formControlName="no_kunci_plastik_solid"
                type="text"
                [(ngModel)]="detail.no_kunci_plastik_solid"
                name="price"
                id="price"
                class="block w-full border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                placeholder="Nomor"
              />
            </div>
          </div>
          <!-- <div class="w-full col-span-1 ml-4">
            <label for="price" class="block text-sm font-medium text-gray-700"
              >Nama Pengemudi</label
            >
            <div class="relative mt-1 rounded-md shadow-sm">
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
              ></div>
              <input
              formControlName="nama_pengemudi_csd"
                type="text"
                [(ngModel)]="detail.nama_pengemudi_csd"
                name="price"
                id="price"
                class="block w-full border-gray-300 rounded-md form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                placeholder="Nama"
              />
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-span-1">
        <div class="w-full">
          <div class="relative text-left">
            <div class="relative flex items-center -mr-4">
              <div
                class="absolute left-0 h-full mb-8 text-blue-500 border-r-2 border-blue-500  md:left-1 top-10"
              >
                <i class="absolute -ml-2 -top-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="#3B82F6"
                    width="16"
                    height="16"
                    version="1.1"
                    id="circle-11"
                    viewBox="0 0 11 11"
                  >
                    <path
                      d="M10,5.5C10,7.9853,7.9853,10,5.5,10S1,7.9853,1,5.5S3.0147,1,5.5,1S10,3.0147,10,5.5z"
                    />
                  </svg>
                </i>
              </div>

              <div class="w-full ml-4">
                <label
                  for="price"
                  class="block text-sm font-medium text-gray-700"
                  >Kota Asal</label
                >
                <div class="relative mt-1 rounded-md shadow-sm">
                  <div
                    class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
                  ></div>
                  <input
                    formControlName="kota_asal"
                    type="text"
                    [(ngModel)]="detail.kota_asal"
                    name="price"
                    id="price"
                    class="block w-full border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    placeholder="Kota Asal"
                  />
                </div>
              </div>
            </div>

            <div class="relative flex items-center mt-4 -mr-4">
              <div
                class="absolute z-10 h-0 -mt-4 text-blue-500 border-r-2 border-blue-500  left-1 md:left-2 top-10"
              >
                <i class="absolute -ml-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    width="14"
                    height="14"
                    stroke="#3B82F6"
                    stroke-width="4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-circle"
                  >
                    <circle cx="12" cy="12" r="10" />
                  </svg>
                </i>
              </div>

              <div class="w-full ml-4">
                <label
                  for="price"
                  class="block text-sm font-medium text-gray-700"
                  >Kota Tujuan</label
                >
                <div class="relative mt-1 overflow-hidden rounded-md shadow-sm">
                  <div
                    class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
                  ></div>
                  <input
                    formControlName="kota_tujuan"
                    type="text"
                    [(ngModel)]="detail.kota_tujuan"
                    name="price"
                    id="price"
                    class="block w-full border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    placeholder="Kota Tujuan"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid w-full grid-cols-2 gap-16 mt-8 ml-4">
      <div class="flex-1">
        <h3 class="text-xl font-bold">CSD</h3>
        <hr />
      </div>
      <div class="flex-1">
        <!-- <h3 class="text-xl font-bold">Travel Pass Check List</h3>
        <hr /> -->
      </div>
    </div>

    <div class="grid w-full grid-cols-2 gap-16 mt-4">
      <div class="col-span-1">
        <div class="w-full ml-4">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Status Keamanan</label
          >
          <div class="grid grid-cols-3 gap-2">
            <label class="inline-flex items-center mt-3">
              <input
                type="checkbox"
                class="w-5 h-5 text-blue-600 form-checkbox"
                (change)="onchangespx($event)"
                [checked]="detail.spx === true"
              /><span class="ml-2 text-gray-700">SPX</span>
            </label>
            <label class="inline-flex items-center mt-3">
              <input
                type="checkbox"
                class="w-5 h-5 text-blue-600 form-checkbox"
                (change)="onchangesco($event)"
                [checked]="detail.sco === true"
              /><span class="ml-2 text-gray-700">SCO</span>
            </label>
            <label class="inline-flex items-center mt-3">
              <input
                type="checkbox"
                class="w-5 h-5 text-blue-600 form-checkbox"
                (change)="onchangeshr($event)"
                [checked]="detail.shr === true"
              /><span class="ml-2 text-gray-700">SHR</span>
            </label>
          </div>
        </div>
        <div class="w-full mt-4 ml-4">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Metode Pemeriksaan</label
          >
          <div class="grid grid-cols-4 gap-2">
            <label class="inline-flex items-center mt-3">
              <input
                type="checkbox"
                class="w-5 h-5 text-blue-600 form-checkbox"
                (change)="onchangexray($event)"
                [checked]="detail.xray === true"
              /><span class="ml-2 text-gray-700">X-Ray</span>
            </label>
            <label class="inline-flex items-center mt-3">
              <input
                type="checkbox"
                class="w-5 h-5 text-blue-600 form-checkbox"
                (change)="onchangeetd($event)"
                [checked]="detail.etd === true"
              /><span class="ml-2 text-gray-700">ETD</span>
            </label>
            <label class="inline-flex items-center mt-3">
              <input
                type="checkbox"
                class="w-5 h-5 text-blue-600 form-checkbox"
                (change)="onchangeedd($event)"
                [checked]="detail.edd === true"
              /><span class="ml-2 text-gray-700">EDD</span>
            </label>
            <label class="inline-flex items-center mt-3">
              <input
                type="checkbox"
                class="w-5 h-5 text-blue-600 form-checkbox"
                (change)="onchangeother($event)"
                [checked]="detail.other === true"
              /><span class="ml-2 text-gray-700">Other</span>
            </label>
          </div>
        </div>
        <div *ngIf="formAdd" class="w-full mt-8 ml-4">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Metode pemeriksaan yang lain</label
          >
          <div class="relative mt-1 rounded-md shadow-sm">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
            ></div>
            <input
              formControlName="metode_pemeriksaan_lain"
              type="text"
              [(ngModel)]="detail.metode_pemeriksaan_lain"
              name="price"
              id="price"
              class="block w-full border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              placeholder="Metode pemeriksaan yang lain"
            />
          </div>
        </div>
        <div class="w-full mt-4 ml-4">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Transit (jika ada)</label
          >
          <div class="grid grid-cols-4 gap-2">
            <label class="inline-flex items-center col-span-1 mt-3">
              <input
                type="radio"
                class="w-5 h-5 text-blue-600 form-radio"
                name="group_transit"
                [checked]="detail.transit === 'ADA'"
                (change)="changeTransit($event)"
                value="Ada"
              /><span class="ml-2 text-gray-700">Ada</span>
            </label>
            <label class="inline-flex items-center col-span-1 mt-3">
              <input
                type="radio"
                class="w-5 h-5 text-blue-600 form-radio"
                name="group_transit"
                [checked]="detail.transit === 'TIDAK ADA'"
                (change)="changeTransit($event)"
                value="Tidak Ada"
              /><span class="ml-2 text-gray-700">Tidak Ada</span>
            </label>
          </div>
        </div>
        <div *ngIf="isAda" class="w-full mt-4 ml-4">
          <div class="relative text-left">
            <div class="relative flex items-center">
              <div
                class="absolute left-0 h-full mb-8 text-blue-500 border-r-2 border-blue-500  md:left-1 top-10"
              >
                <i class="absolute -ml-2 -top-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="#3B82F6"
                    width="16"
                    height="16"
                    version="1.1"
                    id="circle-11"
                    viewBox="0 0 11 11"
                  >
                    <path
                      d="M10,5.5C10,7.9853,7.9853,10,5.5,10S1,7.9853,1,5.5S3.0147,1,5.5,1S10,3.0147,10,5.5z"
                    />
                  </svg>
                </i>
              </div>

              <div class="w-full ml-4">
                <label
                  for="price"
                  class="block text-sm font-medium text-gray-700"
                  >Kota Asal</label
                >
                <div class="relative mt-1 rounded-md shadow-sm">
                  <div
                    class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
                  ></div>
                  <input
                    formControlName="kota_asal"
                    type="text"
                    [readonly]="true"
                    [(ngModel)]="detail.kota_asal"
                    name="price"
                    id="price"
                    class="block w-full border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    placeholder="Kota Asal"
                  />
                </div>
              </div>
            </div>

            <div class="relative flex items-center mt-4">
              <div
                class="absolute z-10 h-0 -mt-4 text-blue-500 border-r-2 border-blue-500  left-1 md:left-2 top-10"
              >
                <i class="absolute -ml-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    width="14"
                    height="14"
                    stroke="#3B82F6"
                    stroke-width="4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-circle"
                  >
                    <circle cx="12" cy="12" r="10" />
                  </svg>
                </i>
              </div>

              <div class="w-full ml-4">
                <label
                  for="price"
                  class="block text-sm font-medium text-gray-700"
                  >Kota Tujuan</label
                >
                <div class="relative mt-1 overflow-hidden rounded-md shadow-sm">
                  <div
                    class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
                  ></div>
                  <input
                    formControlName="kota_tujuan"
                    type="text"
                    [(ngModel)]="detail.kota_tujuan"
                    name="price"
                    id="price"
                    class="block w-full border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    placeholder="Kota Tujuan"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full mt-4 ml-4">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Pengecualian Pemeriksaan</label
          >
          <div class="relative mt-1 rounded-md shadow-sm">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
            ></div>
            <input
              formControlName="pengecualian_pemeriksaan"
              [(ngModel)]="detail.pengecualian_pemeriksaan"
              type="text"
              name="price"
              id="price"
              class="block w-full border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              placeholder="Pengecualian Pemeriksaan"
            />
          </div>
        </div>
        <div class="w-full mt-4 ml-4">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Status Keamanan diterbitkan oleh</label
          >
          <div class="relative mt-1 rounded-md shadow-sm">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
            ></div>
            <input
              formControlName="status_keamanan_diterbitkan_oleh"
              type="text"
              [(ngModel)]="detail.status_keamanan_diterbitkan_oleh"
              name="price"
              id="price"
              class="block w-full border-gray-300 rounded-md  form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              placeholder="Nama - Nomor Pas Karyawan"
            />
          </div>
        </div>
      </div>
      <!-- <div class="col-span-1">
        <div class="w-full ml-4">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Company Name</label
          >
          <div class="relative mt-1 rounded-md shadow-sm">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
            ></div>
            <input
              formControlName="company_name"
              [(ngModel)]="detail.company_name"
              type="text"
              name="price"
              id="price"
              class="block w-full border-gray-300 rounded-md form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              placeholder="Company Name"
            />
          </div>
        </div>
        <div class="w-full mt-4 ml-4">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >Consignor Name</label
          >
          <div class="relative mt-1 rounded-md shadow-sm">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
            ></div>
            <input
              formControlName="cosignor_name"
              type="text"
              [(ngModel)]="detail.cosignor_name"
              name="price"
              id="price"
              class="block w-full border-gray-300 rounded-md form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              placeholder="Consignor Name"
            />
          </div>
        </div>
        <div class="w-full mt-4 ml-4">
          <label for="price" class="block text-sm font-medium text-gray-700"
            >TIme of Departure</label
          >
          <div class="relative mt-1 rounded-md shadow-sm">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
            ></div>
            <input
              formControlName="time_of_departure"
              type="time"
              [(ngModel)]="detail.time_of_departure"
              name="price"
              id="price"
              class="block w-full border-gray-300 rounded-md form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              placeholder="00:00"
            />
          </div>
        </div>
      </div> -->
    </div>
  </div>
</form>

<!-- Button trigger modal -->
<div
  *ngIf="shows"
  class="fixed bottom-0 left-0 z-50 flex items-center justify-center w-full h-full bg-gray-800 bg-opacity-50 "
>
  <div class="w-1/2 bg-white rounded-lg">
    <div class="flex flex-col items-start p-4">
      <div class="flex w-full">
        <div class="w-full mb-8">
          <div class="w-5/6">
            <div class="flex ml-4 space-x-16">
              <div class="col-span-1 text-left">
                <div class="font-medium text-gray-400 text-md">Qty</div>
                <div class="text-xl font-semibold text-blue-500">
                  {{ detail.qty }}
                </div>
              </div>
              <div class="col-span-1 text-center">
                <div class="font-medium text-gray-400 text-md">Total Berat</div>
                <div class="text-xl font-semibold text-blue-500">
                  {{ detail.berat_total }} KG
                </div>
              </div>
              <div class="col-span-1 text-right">
                <div class="font-medium text-gray-400 text-md">
                  Diterima dari
                </div>
                <div class="text-xl font-semibold text-blue-500">
                  {{ detail.asal_tps }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <svg
          (click)="toggleShow()"
          class="w-6 h-6 ml-32 text-gray-700 cursor-pointer fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 18 18"
        >
          <path
            d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
          />
        </svg>
      </div>
      <hr />
      <div class="w-full">
        <table class="w-full text-left">
          <thead class="flex w-full text-white bg-blue-500">
            <tr class="flex w-full">
              <th class="px-4 py-2">No.</th>
              <th class="w-1/2 px-4 py-2">SMU</th>
              <th class="w-1/2 px-4 py-2">Nama Barang</th>
            </tr>
          </thead>
          <!-- Remove the nasty inline CSS fixed height on production and replace it with a CSS class — this is just for demonstration purposes! -->
          <tbody
            class="flex flex-col items-center justify-between w-full overflow-y-scroll  bg-grey-light"
            style="height: 50vh"
          >
            <tr *ngFor="let item of smu3; index as i" class="flex w-full mb-4">
              <td class="p-4 border-b border-gray-100">{{ i + 1 }}</td>
              <td class="w-1/2 p-4 border-b">{{ item.smu }}</td>
              <td class="w-1/2 p-4 border-b">{{ item.nama_barang }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<div
  [class]="isList ? 'showss' : 'hiddenss'"
  style="background: rgba(0, 0, 0, 0.3)"
>
  <div class="flex flex-col items-center px-5 py-2 bg-white border rounded-lg">
    <div class="relative block w-20 h-5 mt-2 loader-dots">
      <div class="absolute top-0 w-3 h-3 mt-1 bg-blue-500 rounded-full"></div>
      <div class="absolute top-0 w-3 h-3 mt-1 bg-blue-500 rounded-full"></div>
      <div class="absolute top-0 w-3 h-3 mt-1 bg-blue-500 rounded-full"></div>
      <div class="absolute top-0 w-3 h-3 mt-1 bg-blue-500 rounded-full"></div>
    </div>
    <div class="mt-2 text-xs font-light text-center text-gray-500">
      Silahkan tunggu...
    </div>
  </div>
</div>
