.active {
  @apply px-5 py-5 text-sm bg-blue-100 border-b border-gray-200;
}

.not_active {
  @apply px-5 py-5 text-sm border-b border-gray-200;
}
.active1 {
  @apply px-5 py-5 text-sm bg-green-100 border-b border-gray-200;
}
.active2 {
  @apply px-5 py-5 text-sm bg-yellow-100 border-b border-gray-200;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.disable {
  @apply flex h-10 px-4 py-2 mt-10 font-light text-gray-400 bg-gray-200 rounded  cursor-not-allowed;
}

.enable {
  @apply flex h-10 px-4 py-2 mt-10 font-light  bg-blue-500 rounded text-white  hover:bg-blue-600;
}

.max-h-102 {
  max-height: 560px;
}

#journal-scroll::-webkit-scrollbar {
  width: 4px;
  cursor: pointer;
  /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/
}
#journal-scroll::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 235, var(--bg-opacity));
  cursor: pointer;
  /*background: red;*/
}
#journal-scroll::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #a0aec0;
  /*outline: 1px solid slategrey;*/
}

.loader-dots div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
  left: 8px;
  animation: loader-dots1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
  left: 8px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
  left: 32px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
  left: 56px;
  animation: loader-dots3 0.6s infinite;
}
@keyframes loader-dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.hiddenss {
  @apply hidden  fixed top-0 left-0 z-50  items-center justify-center w-screen h-screen;
}

.showss {
  @apply flex fixed top-0 left-0 z-50  items-center justify-center w-screen h-screen;
}
