
<section class="px-8 pt-4 pb-4 space-y-4 sm:px-6 lg:px-4 xl:px-6 sm:pb-6 lg:pb-4 xl:pb-6">

  <ul class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
    <li [hidden]="show" x-for="item in data" class="bg-white">
      <div   class="block p-4 bg-blue-500 border border-gray-200 rounded-lg group">
        <dl class="flex flex-row items-center">
          <div class="flex-grow p-4">
            <div class="pb-4">
              <h1 class="text-4xl font-bold text-gray-100">%</h1>
            </div>
            <div class="flex flex-wrap">

              <div class="relative flex-1 flex-grow w-full max-w-full pr-4">
                <h5 class="text-sm font-light text-gray-100">
                  Harga saat ini:
                </h5>
                <div class="flex gap-1 mt-2 text-3xl font-semibold text-gray-100">
                  {{!harga?.harga ? '0' : harga?.harga}}
                  <span class="mt-3 text-sm font-thin">/Kg</span>
                </div>
              </div>

            </div>
            <div class="w-full mt-2">
              <a [routerLink]="['./']" (click)="toggleModal()"  class="justify-center px-8 py-1 mt-2 text-xs text-blue-500 bg-white rounded-full hover:bg-light-blue-500 hover:border-transparent hover:shadow-lg group ">

                Edit harga
              </a>
            </div>
          </div>

        </dl>
      </div>
    </li>
    <li [hidden]="!show" class="rounded-lg hover:shadow-lg">
      <a [routerLink]="['./']" (click)="toggleModal()"   class="flex items-center justify-center w-full py-4 text-sm font-medium border-2 border-gray-200 border-dashed rounded-lg hover:border-transparent hover:text-blue-500 hover:bg-blue-200 hover:shadow-xs">
       Tambah Harga
      </a>
    </li>
  </ul>

  <div class="">
    <h1 class="mt-8 text-3xl font-semibold">Riwayat Harga</h1>
    <hr class="h-0.5 mt-2 mb-2 bg-gray-300"/>
    <h5 class="text-base font-light text-black">
      Update perubahan harga
    </h5>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="flex flex-col mt-6">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="grid py-2 align-middle xl:grid-cols-2 lg:grid-cols-2 2xl:grid-cols-2 sm:px-6 lg:px-8">
          <div class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr >
                  <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    No.
                  </th>
                  <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Tanggal
                  </th>
                  <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Harga/Kg
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let item of history; index as i">

                  <td class="px-6 py-4 whitespace-nowrap">
                    {{i+1}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    {{item.tanggal}}
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
                    {{item.harga}}
                  </td>

                </tr>

                <!-- More people... -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>



<div *ngIf="showModal" class="fixed z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto text-black outline-none inset-32 focus:outline-none">
  <div class="relative w-auto max-w-6xl mx-auto my-6">
    <!--content-->
    <form id=formId (ngSubmit)="save()" [formGroup]="form">

    <div class="relative flex flex-col w-full bg-white border-0 rounded-lg shadow-lg outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-center justify-center p-5 border-b border-solid rounded-t cursor-pointer border-blueGray-200">
        <h3 class="text-xl font-medium text-gray-700 text-start">
          Edit Harga
        </h3>

      </div>
      <!--body-->
      <div class="relative flex-auto p-6">

        <div class="pl-6 pr-6 w-96 ">

          <div class="w-full">
            <label for="price" class="block text-sm font-medium text-gray-700"
              >Harga</label
            >
            <div class="relative mt-1 rounded-md shadow-sm">
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none "
              ></div>
              <input
              formControlName="harga"
                type="number"
                name="price"
                id="price"
                class="block w-full border-gray-300 rounded-md form-input focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                placeholder="Masukan Harga"
              />
            </div>
          </div>



        </div>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid rounded-b border-blueGray-200">
        <button class="px-6 py-2 mb-1 mr-1 text-sm font-bold text-red-500 uppercase transition-all duration-150 ease-linear outline-none background-transparent focus:outline-none" type="button" (click)="toggleModal()">
          Batalkan
        </button>
        <button
        type="submit"
        class="flex items-center justify-center px-4 py-2 text-sm font-normal text-white bg-blue-500 rounded min-h-10 hover:bg-blue-700"
      >
      <div [hidden]="!isLoading" class="w-3 h-3 mr-2 border-t-2 border-b-2 border-white rounded-full animate-spin"></div>

        Simpan
      </button>
      </div>
    </div>
    </form>
  </div>
</div>
<div *ngIf="showModal" class="fixed inset-0 z-40 bg-black opacity-25"></div>


<div  [class]="isList ? 'showss' : 'hiddenss'" style="background: rgba(0, 0, 0, 0.3);">
  <div class="flex flex-col items-center px-5 py-2 bg-white border rounded-lg">
    <div class="relative block w-20 h-5 mt-2 loader-dots">
      <div class="absolute top-0 w-3 h-3 mt-1 bg-blue-500 rounded-full"></div>
      <div class="absolute top-0 w-3 h-3 mt-1 bg-blue-500 rounded-full"></div>
      <div class="absolute top-0 w-3 h-3 mt-1 bg-blue-500 rounded-full"></div>
      <div class="absolute top-0 w-3 h-3 mt-1 bg-blue-500 rounded-full"></div>
    </div>
    <div class="mt-2 text-xs font-light text-center text-gray-500">
      Silahkan tunggu...
    </div>
  </div>
  </div>
