<table class="w-full mt-4 overflow-x-scroll divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <th
        scope="col"
        class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase  lg:hidden"
      >
        No.
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase "
      >
        Status
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase "
      >
        No DO
      </th>

      <th
        scope="col"
        class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase "
      >
        Koli
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase "
      >
        Berat (KG)
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase "
      >
        From Location
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase "
      >
        To
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase "
      >
        Detail
      </th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <tr *ngFor="let item of data; index as i">
      <td class="px-6 py-4 text-sm text-gray-500 lg:hidden whitespace-nowrap">
        {{ i + 1 }}
      </td>
      <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
        <div [class]="item.status === '0' ? 'aktif' : 'selesai'">
          {{ item.status === "0" ? "Aktif" : "Selesai" }}
        </div>
      </td>
      <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
        {{ item.no }}
      </td>
      <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
        {{ item.koli }}
      </td>
      <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
        {{ item.berat }}
      </td>
      <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
        {{ item.kota_asal }}
      </td>
      <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
        {{ item.kota_tujuan }}
      </td>
      <td
        class="flex px-6 py-4 space-x-4 text-sm text-gray-500 whitespace-nowrap"
      >
        <button
          [routerLink]="['/dokumen/csd/detail', item.id]"
          class="text-lg font-bold text-blue-500 focus:outline-none text-md"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="16"
            width="16"
            class="fill-current"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            id="Capa_1"
            x="0px"
            y="0px"
            viewBox="0 0 612.02 612.02"
            style="enable-background: new 0 0 612.02 612.02"
            xml:space="preserve"
          >
            <g>
              <g id="_x35__11_">
                <g>
                  <path
                    d="M596.96,269.674L342.381,15.094c-20.079-20.079-52.644-20.079-72.723,0c-20.079,20.079-20.079,52.644,0,72.723     L487.852,306.01L269.658,524.202c-20.079,20.079-20.079,52.644,0,72.723s52.644,20.079,72.723,0L596.96,342.346     C617.039,322.317,617.039,289.753,596.96,269.674z M290.858,254.258L88.744,41.238c-20.309-21.378-53.204-21.378-73.513,0     s-20.309,56.058,0,77.462l165.371,174.289L15.231,467.278c-20.309,21.379-20.309,56.083,0,77.462s53.204,21.379,73.513,0     L290.858,331.72C311.167,310.342,311.167,275.662,290.858,254.258z"
                  />
                </g>
              </g>
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </button>
        <button
          *ngIf="item.status === '1'"
          (click)="downloadPdf(item.id, item.no)"
          class="text-lg font-bold text-green-500  focus:outline-none ring:none text-md"
        >
          <svg
            [class]="isDownload === true ? 'download' : 'finish'"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            id="Capa_1"
            x="0px"
            height="16"
            width="16"
            y="0px"
            viewBox="0 0 512 512"
            style="enable-background: new 0 0 512 512"
            xml:space="preserve"
          >
            <g>
              <g>
                <path
                  d="M472,313v139c0,11.028-8.972,20-20,20H60c-11.028,0-20-8.972-20-20V313H0v139c0,33.084,26.916,60,60,60h392    c33.084,0,60-26.916,60-60V313H472z"
                />
              </g>
            </g>
            <g>
              <g>
                <polygon
                  points="352,235.716 276,311.716 276,0 236,0 236,311.716 160,235.716 131.716,264 256,388.284 380.284,264   "
                />
              </g>
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </button>
      </td>
    </tr>

    <!-- More people... -->
  </tbody>
</table>
